.main_container {
    margin: 3rem 1rem;
}
.ser-container {
    margin: 1rem 0;
}

.main-info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap: 1rem;
    padding: 0.5rem 0;
}

.unp-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.infoMainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.bg-unp {
    border-radius: 6px 6px 0 0 !important;
}

.formMainTitle {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
}

.card-body {
    padding: 0 1rem 1rem !important;
}

.custom-btn-dark {
    background-color: #303D50; /* Color de fondo personalizado (puedes cambiarlo) */
    color: #ffffff; /* Color del texto */
    border: 1px solid #343a40; /* Borde del botón */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    transition: all 0.3s ease; /* Animación al pasar el ratón */
  }
  
  .custom-btn-dark:hover {
    background-color: #495057; /* Color de fondo al pasar el ratón */
    color: #ffffff; /* Color del texto al pasar el ratón */
    border-color: #495057; /* Color del borde al pasar el ratón */
  }